.vs-table__header {
	color: rgba(var(--vs-gray-4), 1);
	background: rgba(var(--vs-dark), 1);
}

.vs-table__thead .vs-table__th {
	color: rgba(var(--vs-gray-4), 1);
	background: rgba(var(--vs-dark), 1);
	border-radius: 0px;
}

.vs-table__tr .vs-table__td {
	color: rgba(var(--vs-success), 1);
}

.vs-table__footer {
	background: rgba(var(--vs-dark), 1);
}

.vs-table__th.sort:hover {
	background: rgba(var(--contras), 1);
	color: rgba(var(--vs-success), 1);
}

.vs-table__tr.isExpand:not(:first-of-type) .vs-table__td {
	background: rgba(var(--vs-dark), 1) !important;
	border-radius: 0% !important;
}

.vs-table__tr:hover .vs-table__td {
	background: rgba(var(--vs-dark), 1);
}

.vs-table__tr.isExpand:first-of-type .vs-table__td {
	background: rgba(var(--vs-dark), 1) !important;
}

.vs-table__tr__expand td {
	background: rgba(var(--vs-dark), 1) !important;
}

.vs-input-parent--border .vs-input-content .vs-input {
	width: 100%;
}

.vs-table.striped .vs-table__tr:nth-child(2n) {
	background: rgba(var(--vs-dark), 1) !important;
}

.input-color:disabled {
	opacity: 1;
}
