// materialize
@import '~materialize-css/sass/components/color-variables';
@import '~materialize-css/sass/components/color-classes';
@import '~materialize-css/sass/components/pulse';
@import '~materialize-css/sass/components/variables';
//
@import '~materialize-css/sass/components/global';
@import '~materialize-css/sass/components/cards';

// vue-sax
@import '~vue-dark-mode-switch/dist/vue-dark-mode-switch.css';
@import '~vuesax/dist/vuesax.css';

// select
@import './config/select.scss';
@import 'vue-select/src/scss/vue-select.scss';

/* width */
::-webkit-scrollbar {
	width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
	box-shadow: none;
	border-radius: 25px;
	background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: transparent;
	border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: #90a4ae;
}

:root {
	--vs-primary: 42, 122, 228;
	--vs-success: 156, 211, 59;
	--vs-danger: 242, 19, 93;
	--vs-warn: 254, 130, 0;
	--vs-dark: 46, 57, 68;

	//
	--dark: rgb(46, 57, 68);
	--contras: rgb(229, 238, 246);
	--primary: rgb(91, 60, 196);
	--secondary: rgb(23, 201, 100);
}

.primary {
	background-color: var(--vs-primary);
}
.success {
	background-color: var(--vs-success);
}
.danger {
	background-color: var(--vs-danger);
}
.warn {
	background-color: var(--vs-warn);
}
.dark {
	background-color: var(--vs-dark);
}
.contras {
	background-color: var(--contras);
}

.primary-text {
	color: var(--vs-primary);
}
.success-text {
	color: var(--vs-success);
}
.danger-text {
	color: var(--vs-danger);
}
.warn-text {
	color: var(--vs-warn);
}
.dark-text {
	color: var(--vs-dark);
}
.contras-text {
	color: var(--contras);
}

@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
span {
	font-family: 'Nunito', sans-serif;
	color: #2c2c43;
}

body {
	background-color: var(--contras);
}

.shadow {
	box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

.btn-flot {
	position: fixed;
	bottom: 20px;
	right: 20px;
}

.vs-input {
	width: 100%;
}

.vs-dialog__loading {
	background-color: var(--contras);
}

.vs-dialog {
	background-color: var(--contras);
}

// styles
@import './config/dialog.scss';

// table
@import './config/table.scss';

// ed-grid
@import '~ed-grid/ed-grid';

// querys
@import 'config/querys.scss';
